<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <appSettings>
    <add key="Diretorio" value="c:\" />
  </appSettings>
  <system.web>

    <!--Aqui eu defino o tipo de autenticação
        Se for (FORMS) os usuários, grupos, permissões vão estar dentro
        de uma base do SQLSERVER(ASPNETDB.MDF)
    -->
    <authentication mode="Forms">
      <!--Aqui eu defino qual o caminho Fisico da página de login
          e defino o caminho Fisico da página Default(Página que o usuário
          será redirecionado após o login)
          O timeout é definido em minutos e monitora o tempo de INATIVIDADE
          Caso o usuário fique 10 minutos sem mexer no sistema, automaticamente
          ele será redirecionado para a página de login-->
      <forms loginUrl="Login.aspx"
             defaultUrl="Home.aspx"
             timeout="10"/>
    </authentication>

    <authorization>
      <!--Neguei o acesso no sistema pra TODOS OS USUÁRIOS
          NÃO AUTENTICADOS-->
      <deny users="?"/>
      <!--Permiti o acesso no sistema a TODOS OS USUÁRIOS 
          AUTENTICADOS-->
      <allow users="*"/>
    </authorization>

    <roleManager enabled="true" />
    <compilation debug="true" targetFramework="4.0"/>

    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <add name="XmlSiteMapProvider"
          type="System.Web.XmlSiteMapProvider "
          siteMapFile="Web.sitemap"
          securityTrimmingEnabled="true" />
      </providers>
    </siteMap>

  </system.web>

  <system.net>
    <mailSettings>
      <smtp from="leonardoboard@gmail.com">
        <network host="smtp.gmail.com" password="u23bfkd3fbk3" userName="leonardoboard" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>