<?xml version="1.0"?>
<configuration>
    <system.web>
        <authorization>
            <!--Somente os usuários do grupo contabilidade
             irão acesar as páginas dentro da pasta Contabilidade-->
            <allow roles="Contabilidade" />
          
            <!--Nenhum outro usuário AUTENTICADO PODERÁ ACESSAR-->
            <deny users="*" />
        </authorization>
    </system.web>
</configuration>
