<?xml version="1.0"?>
<configuration>

  <location path="Exemplo1.aspx">
    <system.web>
      <authorization>
        <deny users="Juridico2"/>
      </authorization>
    </system.web>
  </location>
  
  <system.web>

    <authorization>
      <allow roles="Juridico"/>
      <deny users="*"/>
    </authorization>

  </system.web>
</configuration>
