<?xml version="1.0"?>
<configuration>

  <location path="Exemplo1.aspx">
    <system.web>
      <authorization>
        <deny users="Financeiro1"/>
      </authorization>
    </system.web>
  </location>
  
  <system.web>
    <authorization>
      <!--Permiti o acesso a TODAS as páginas dentro da pasta FINANCEIRO
          para todos os usuários so GRUPO FINANCEIRO, qualquer usuário
          AUTENTICADO que não for do grupo FINANCEIRO não enxergará nenhuma página-->
      <allow roles="Financeiro"/>
      <deny users="*"/>
    </authorization>
  </system.web>
  
</configuration>
