<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ASPNETDBConnectionString1" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\ASPNETDB.MDF;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
    <add name="ASPNETDBEntities" connectionString="metadata=res://*/App_Code.Modelagem.csdl|res://*/App_Code.Modelagem.ssdl|res://*/App_Code.Modelagem.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\ASPNETDB.MDF;integrated security=True;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASPNETDBEntities1" connectionString="metadata=res://*/App_Code.Modelagemwdwf.csdl|res://*/App_Code.Modelagemwdwf.ssdl|res://*/App_Code.Modelagemwdwf.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\ASPNETDB.MDF;integrated security=True;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <profile>
      <properties>
        <add name="IpMaquinaCliente" type="System.String" />
        <add name="IdadeCliente" type="System.Int32" />
        <add name="DataExecucao" type="System.DateTime" />
        <add name="ControlePermissao" type="ListaPermissao" serializeAs="Xml" />
      </properties>
    </profile>
    <!--Aqui eu defino o tipo de autenticação
        Se for (FORMS) os usuários, grupos, permissões vão estar dentro
        de uma base do SQLSERVER(ASPNETDB.MDF)
    -->
    <authentication mode="Forms">
      <!--Aqui eu defino qual o caminho Fisico da página de login
          e defino o caminho Fisico da página Default(Página que o usuário
          será redirecionado após o login)
          O timeout é definido em minutos e monitora o tempo de INATIVIDADE
          Caso o usuário fique 10 minutos sem mexer no sistema, automaticamente
          ele será redirecionado para a página de login-->
      <forms loginUrl="Login.aspx" defaultUrl="Home.aspx" timeout="10" />
    </authentication>
    <authorization>
      <!--Neguei o acesso no sistema pra TODOS OS USUÁRIOS
          NÃO AUTENTICADOS-->
      <deny users="?" />
      <!--Permiti o acesso no sistema a TODOS OS USUÁRIOS 
          AUTENTICADOS-->
      <allow users="*" />
    </authorization>
    <roleManager enabled="true" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <add name="XmlSiteMapProvider" type="System.Web.XmlSiteMapProvider " siteMapFile="Web.sitemap" securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="leonardoboard@gmail.com">
        <network host="smtp.gmail.com" password="u23bfkd3fbk3" userName="leonardoboard" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>