<?xml version="1.0"?>
<configuration>
  <!--Neguei a permissão para a página
      a 1 usuário especifico-->
  <location path="Exemplo1.aspx">
    <system.web>
      <authorization>
        <deny users="RH2"/>
      </authorization>
    </system.web>
  </location>
  
  <system.web>

    <authorization>
      <allow roles="RH"/>
      <deny users="*"/>
    </authorization>

  </system.web>
</configuration>
